.reg-main{padding:0;margin-top:10px;}
.my-reg {overflow:hidden;}
.main-border{border: 1px solid #e2e2e2;border-radius: 2px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); width:1098px;border-top:none;padding-top:0;}
//.layui-form{width:600px;margin:35px auto;}
//.layui-form-item .layui-input-inline{width:330px!important}
.userp-reg{width:1060px;height:45px;line-height:45px;padding:0 25px;font-size:16px;background: #f2f2f2;color:#333;}
.userp-reg button{color:#333;}
.userp-reg button:hover{color:#333;text-decoration: underline}
.yx-reg-form .layui-form-item .layui-input-inline,.yx-login-form .layui-form-item .layui-input-inline{width:300px}
.change-login{width:165px;float:right;background:none;color:#333;font-size:14px;}
.change-login:hover{background:none;color:#34A8FF}


